body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #009739;
    color: white;
    text-align: center;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

img {
    width: 700px;
    max-width: 100%;
    border-radius: 10px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}

footer {
    background-color: #009739;
    color: white;
    text-align: center;
    padding: 10px;
}
